*{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(/static/images/register-back-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100dvh;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container{
    width: 95%;
    max-width: 600px;
    height: 95%;
    max-height: 740px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    overflow: hidden;
}
.profile-container.hide{
    display: none;
}

.profile-container .top{
    background-color: #232e3c;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#back-btn,
#profile-edit-btn,
#profile-doted-btn{
    background-color: transparent;

    padding: 10px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}
#back-btn:hover,
#profile-edit-btn:hover,
#profile-doted-btn:hover{
    color: white;
}

#profile-edit-btn{
    display: none;
}

#profile-edit-btn.show{
    display: block;
}

#profile-doted-btn.hide{
    display: none;
}


.pic-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.pic-container span{
    color: rgb(219, 219, 219);
    cursor: default;
}

#profile-display-name{
    margin-top: 10px;
}

#user-status{
    color: #77adff;
}   

#profile-image-container{
    position: relative;
}
#profile-image-container.pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 2rem;
}

#user-first-letter{
    position: absolute;
    font-size: xx-large;
    pointer-events: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;
}

#profile-img{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    cursor: pointer;
}

#profile-img.show{
    position: fixed;

    width: 30%;
    height: auto;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 0;
    z-index: 2;
}

#pic-overlay{
    position: fixed;
    top: 0;
    left: 0;

    background-color: #232e3cd0;
}

#pic-overlay.show{
    width: 100%;
    height: 100dvh;
}

#delete-profile-pic{
    background-color: rgb(255, 52, 52);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#delete-profile-pic:active{
    background-color: rgb(255, 84, 84);
    scale: .98;
}


.information{
    background-color: #17212b;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    color: white;
    border-radius: 0 0 10px 10px;
}

.container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #232e3c;

    padding: 10px;
}

.row{
    flex-direction: row;
}

.bio-tags{
    color: #566270;
    font-size: 14px;
    cursor: default;
}

#username-span{
    color: #77adff;
    cursor: pointer;
}

#username-span:hover{
    text-decoration: underline;
}

#username-copy-modal{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.753);
    position: fixed;
    opacity: 0;
    padding: 2px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;

    transition: opacity .4s ease;
}
#username-copy-modal.show{
    opacity: 1;
}

.edit-profile-container{
    width: 95%;
    max-width: 600px;
    height: 95%;
    max-height: 740px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    overflow: hidden;
}
.edit-profile-container.hide{
    display: none;
}

.edit-profile-container .top{
    background-color: #232e3c;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#close-edit-btn{
    width: 30px;

    background-color: transparent;
    color: rgb(209, 209, 209);

    border: none;
    outline: none;
    border-radius: 5px;

    padding: 5px;
    cursor: pointer;

    font-size: 16px;
    transition: .2s ease;
}

#close-edit-btn:hover{
    color: white;
}

#close-edit-btn:active{
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="text"]{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

    width: 100%;

    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: .2s ease;
}

input[type="text"]:focus::placeholder{
    font-size: 14px;
    transform: translate(0, -10px);
}

input[type="file"]{
    display: none;
}

.container.f{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile_pic_span{
    cursor: default;
}

input[type="button"]{
    border-radius: 4px;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: .2s ease;
    font-weight: bold;
}

input[type="button"]:hover{
    background-color: rgba(255, 255, 255, 0.85);
}

span.error{
    display: block;
    color: red;
    align-self: center;
    margin-top: 5px;
    font-weight: bold;
}
span.hide{
    display: none;
}

.icon{
    color: white;
    margin: auto 0;
    width: 30px;
}

.upload-container{
    width: 95%;
    height: 150px;

    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 30px;
    margin-right: 10px;

    border: 1px dashed #52575d;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-container:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

.upload-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    cursor: pointer;
}

.upload-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-sm{
    font-weight: 100;
    padding: 5px;
}

.font-semibold{
    font-weight: 500;
}