<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <span id="display-username"></span>
    </header>

    <div id="rooms-container">
        <div class="room" id="1">
            <div class="room-info">
                <h3>Python</h3>
                <span>Created by Mahdi</span>
            </div>

            <span class="room-date">12 Jun</span>
        </div>
    </div>

    <script src="/static/index.js"></script>
</html>