<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <button type="button" id="user-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </button>
        <span id="logout">Logout</span>
    </header>

    <div id="modal-overlay-notif">
        <div class="modal-notif-box">
            <span id="notif-modal-text"></span>
            <button id="modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="search-box">
        <button id="search-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
        <input id="search-room-input" type="text" placeholder="search Rooms">
        <button id="create-room-btn">Create Room</button>
    </div>

    <div id="create-room-modal" class="modal-overlay">
        <div class="modal-box">
            <input id="new-room-name-input" type="text" placeholder="Room name">
            <button id="confirm-create-room-btn">Create</button>
        </div>
    </div>

    <div id="rooms-container"></div>

    <script src="/static/check_token.js"></script>
    <script src="/static/index.js"></script>
</html>