<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <span id="display-username"></span>
        <span id="logout">Logout</span>
    </header>

    <div id="modal-overlay-notif">
        <div class="modal-notif-box">
            <span id="notif-modal-text"></span>
            <button id="modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="search-box">
        <input id="search-room-input" type="text" placeholder="search Rooms">
        <button id="create-room-btn">Create Room</button>
    </div>

    <div id="room-context-box">
        <button id="edit-room-btn">Edit</button>
        <button id="delete-room-btn">Delete</button>
    </div>

    <div id="modal-overlay">
        <div class="edit-room-name-box">
            <button id="modal-edit-room-name-close-btn">x</button>
            <h3>Edit Room Name</h3>
            <input type="text" name="room-name" id="edit-room-name-input" placeholder="New Room Name">
            <span id="room-name-error">this filed can not be empty!</span>
            <button type="button" id="modal-edit-room-name-btn">Edit</button>
        </div>
    </div>

    <div id="rooms-container"></div>

    <script src="/static/index.js"></script>
</html>