<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div id="login-modal-overlay-notif">
        <div class="login-modal-notif-box">
            <span id="login-notif-modal-text"></span>
            <button id="login-modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="login-form-box">
        <form id="login-form">
            <input id="login-username" placeholder="username">
            <span id="login-empty-username">Username can not be empty!</span>
            <input id="login-password" type="password" placeholder="password">            
            <button type="submit">Login</button>

            <span id="password-reset-text">forgot your password? <a id="reset-link" href="/forgot-password">Reset</a></span>
            <span id="register-text">if don't have an account <a id="register-link" href="/register">create one</a></span>
        </form>
    </div>

    <script src="static/login.js"></script>
</body>
</html>