<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div id="login-modal-overlay-notif">
        <div class="login-modal-notif-box">
            <span id="login-notif-modal-text"></span>
            <button id="login-modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="login-form-box">
        <form id="login-form">
            <input id="login-username" placeholder="username">
            <input id="login-password" type="password" placeholder="password">            
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="static/login.js"></script>
</body>
</html>