<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div id="modal-overlay-notif">
        <div class="modal-notif-box">
            <span id="notif-modal-text"></span>
            <button id="modal-notif-close-btn">x</button>
        </div>
    </div>

    <div class="register-form-box">
        <form id="register-form">
            <input id="register-username" placeholder="username">
            <input id="register-password" type="password" placeholder="password">
            <input id="register-confirm-password" type="password" placeholder="confirm password">
            <span id="passwords-not-match">Passwords are not match!</span>
            
            <button type="submit">Register</button>
        </form>
    </div>

    <script src="../static/register.js"></script>
</body>
</html>