<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="/static/room.css">
</head>
<body>
    <div id="chat-title-container">
        <span id="chat-title"></span>
        <div id="user-status-container">
            <div id="online-container">
                <span id="online-span">Online</span><span class="online-icon">●</span>
            </div>

            <div id="offline-container">
                <span id="offline-span">Offline</span><span class="offline-icon"> ಥ_ಥ</span>
            </div>
        </div>
        <span id="chat-online-number"></span>
    </div>


    <div id="chat-container">
        <div id="messages"></div>

        <div id="input-container">
            <div id="edit-box" class="disable">
                <div class="edit-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                    </svg>
                    <p class="edit-text-place-holder">Edit Message</p>
                </div>
                <button id="edit-box-close-btn">X</button>
            </div>

            <div id="reply-box" class="disable">
                <div class="reply-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                    </svg>
                    <p class="reply-text-place-holder">Reply Message</p>
                </div>
                <button id="reply-box-close-btn">X</button>
            </div>

            <div id="input-box">
                <textarea id="message-input" placeholder="Type message..." rows="1" dir="auto"></textarea>
                <button id="send-btn" class="show">Send</button>
                <button id="edit-btn">Edit</button>
            </div>
        </div>

        <div id="go-to-bottom-container">
            <span>></span>
        </div>
    </div>

    <div id="message-context-box">
        <button id="edit-message-btn">Edit</button>
        <button id="delete-message-btn">Delete</button>
    </div>

    <div id="room-context-box">
        <button id="edit-room-btn">Edit</button>
        <button id="delete-room-btn">Delete</button>
    </div>

    <div id="modal-overlay">
        <div class="edit-room-name-box">
            <button id="modal-edit-room-name-close-btn">x</button>
            <h3>Edit Room Name</h3>
            <input type="text" name="room-name" id="edit-room-name-input" placeholder="New Room Name">
            <span id="room-name-error"></span>
            <button type="button" id="modal-edit-room-name-btn">Edit</button>
        </div>
    </div>

    <script>
        const room_id = "{{ room_id }}";
        const room_name = "{{ room_name }}";
    </script>

    <script src="/static/check_token.js"></script>
    <script src="/static/room.js"></script>
</body>
</html>