<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="/static/room.css">
</head>
<body>
    <div id="chat-container">
        <div id="messages"></div>

        <div id="input-box">
            <textarea id="message-input" placeholder="Type message..." rows="1"></textarea>
            <button id="send-btn" class="show">Send</button>
            <button id="edit-btn">Edit</button>
        </div>

        <div id="go-to-bottom-container">
            <span>></span>
        </div>
    </div>

    <div id="message-context-box">
        <button id="edit-message-btn">Edit</button>
        <button id="delete-message-btn">Delete</button>
    </div>

    <script>
        const room_id = "{{ room_id }}";
    </script>

    <script src="/static/room.js"></script>
</body>
</html>